extends layout

block content
  form.form-signin(action='/login', method='post')
      h2.form-signin-heading Please sign in
      input.input-block-level(type='text', placeholder='Username', name='username', autofocus='autofocus')
      input.input-block-level(type='password', placeholder='Password', name='password')
      label.checkbox
        input(type='checkbox', value='remember-me')
        | Remember me
      button.btn.btn-large.btn-primary(type='submit') Sign in
